[submodule "AITIC/odoo-aitic-components"]
	path = AITIC/odoo-aitic-components
	url = git@github.com:AITIC/odoo-aitic-components.git
	branch = dev_14.0_to_15.0

[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:AITIC/stock-logistics-warehouse.git
	branch = 15.0

[submodule "OCA/stock-logistics-barcode"]
	path = OCA/stock-logistics-barcode
	url = git@github.com:OCA/stock-logistics-barcode.git
	branch = 15.0
