[submodule "AITIC/odoo-aitic-components"]
	path = AITIC/odoo-aitic-components
	url = git@github.com:AITIC/odoo-aitic-components.git
	branch = dev_14.0_to_15.0

[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:AITIC/stock-logistics-warehouse.git
	branch = 15.0

[submodule "OCA/manufacture"]
	path = OCA/manufacture
	url = git@github.com:AITIC/manufacture.git
	branch = 15.0

[submodule "OTHERS/odoo_pos_addons_pronexo_arg"]
	path = OTHERS/odoo_pos_addons_pronexo_arg
	url = git@github.com:AITIC/odoo_pos_addons_pronexo_arg.git
	branch = 15.0
[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = https://github.com/OCA/product-attribute.git

[submodule "pronexo-argentina/odoo_pos_addons"]
	path = pronexo-argentina/odoo_pos_addons
	url = git@github.com:pronexo-argentina/odoo_pos_addons.git
	branch = 15.0
